In [1]:
#● Importa pandas y numpy siguiendo las convenciones.
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
#● Lee la base de datos worldcup2014.csv y asígnela a un objeto df.
df = pd.read_csv('worldcup2014.csv')

In [3]:
#● Solicita las primeras 5 observaciones con head.
df.head(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [4]:
#● Solicita las ultimas 5 observaciones con tail.
df.tail(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
27,Ghana,africa,G,4,3,0,1,2,4,6,−2,1,0
28,Belgium,europe,H,1,3,3,0,0,4,1,3,9,1
29,Algeria,africa,H,2,3,1,1,1,6,5,1,4,1
30,Russia,europe,H,3,3,0,2,1,2,3,−1,2,0
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0

In [5]:
df.describe()

,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,puntos,clasificado
count,32.000000,32.0,32.000000,32.000000,32.00000,32.000000,32.000000,32.000000,32.000000
mean,2.500000,3.0,1.218750,0.562500,1.21875,4.250000,4.250000,4.218750,0.500000
std,1.135924,0.0,1.007532,0.564401,0.97499,2.314052,2.228843,2.881917,0.508001
min,1.000000,3.0,0.000000,0.000000,0.00000,1.000000,1.000000,0.000000,0.000000
25%,1.750000,3.0,0.000000,0.000000,0.00000,2.750000,3.000000,1.750000,0.000000
50%,2.500000,3.0,1.000000,1.000000,1.00000,4.000000,4.000000,4.000000,0.500000
75%,3.250000,3.0,2.000000,1.000000,2.00000,6.000000,6.000000,7.000000,1.000000
max,4.000000,3.0,3.000000,2.000000,3.00000,10.000000,9.000000,9.000000,1.000000

In [6]:
'''
Frecuencia de continent: utilizando value_counts responde lo siguiente:
● ¿Cuál es el continente con una mayor presencia en la muestra?
● ¿Cuál es la probabilidad de elegir un equipo asiático al azar?
● ¿Cuál es la probabilidad de elegir un equipo africano al azar?
'''
continente_mayor_frecuiencia = df['continent'].value_counts()
continente_mayor_frecuiencia

europe          13
southamerica     6
africa           5
northamerica     4
asia             4
Name: continent, dtype: int64

In [7]:
continente_mayor_frecuiencia = df['continent'].value_counts('%')
continente_mayor_frecuiencia

europe          0.40625
southamerica    0.18750
africa          0.15625
northamerica    0.12500
asia            0.12500
Name: continent, dtype: float64

In [8]:
continente_mayor_frecuiencia = df['continent'].value_counts(normalize = True)
continente_mayor_frecuiencia

europe          0.40625
southamerica    0.18750
africa          0.15625
northamerica    0.12500
asia            0.12500
Name: continent, dtype: float64

In [9]:
df.loc[:, ['team', 'juegos_ganados', 'continent', 'clasificado', 'goles_diferencia', 'puntos']]

,team,juegos_ganados,continent,clasificado,goles_diferencia,puntos
0,Brazil,2,southamerica,1,5,7
1,Mexico,2,northamerica,1,3,7
2,Croatia,1,europe,0,0,3
3,Cameroon,0,africa,0,−8,0
4,Netherlands,3,europe,1,7,9
5,Chile,2,southamerica,1,2,6
6,Spain,1,europe,0,−3,3
7,Australia,0,asia,0,−6,0
8,Colombia,3,southamerica,1,7,9
9,Greece,1,europe,1,−2,4
10,Ivory Coast,1,africa,0,−1,3
11,Japan,0,asia,0,−4,1
12,Costa Rica,2,northamerica,1,3,7
13,Uruguay,2,southamerica,1,0,6
14,Italy,1,europe,0,−1,3
15,England,0,europe,0,−2,1
16,France,2,europe,1,6,7
17,Switzerland,2,europe,1,1,6
18,Ecuador,1,southamerica,0,0,4
19,Honduras,0,northamerica,0,−7,0
20,Argentina,3,southamerica,1,3,9
21,Nigeria,1,africa,1,0,4
22,Bosnia and Herzegovina,1,europe,0,0,3
23,Iran,0,asia,0,−3,1
24,Germany,2,europe,1,5,7
25,United States,1,northamerica,1,0,4
26,Portugal,1,europe,0,−3,4
27,Ghana,0,africa,0,−2,1
28,Belgium,3,europe,1,3,9
29,Algeria,1,africa,1,1,4
30,Russia,0,europe,0,−1,2
31,South Korea,0,asia,0,−3,1

In [10]:
def describe_rows(x):
    x = x.dropna()
    tmp_std = np.std(x)
    tmp_mean = np.mean(x)
    tmp_median = np.median(x)
    tmp_var = np.var(x)
    tmp_max = tmp_mean + tmp_std
    tmp_min = tmp_mean - tmp_std
    tmp_mode = stats.mode(x)[0][0]
    print(f'El valor minimo es :{tmp_min}\nEl valor maximo es: {tmp_max}\nEl promedio es: {tmp_mean}\nLa desviacion estandart es: {tmp_std}\nLa moda es: {tmp_mode}\nLa varianza es: {tmp_var}')
    return tmp_mean, tmp_median, tmp_var, tmp_mode, tmp_std, tmp_min, tmp_max

In [11]:
describe_rows(df['puntos'])
describe_rows(df['juegos_ganados'])
gd = df['goles_diferencia']
print(gd)

El valor minimo es :1.3822207056862608
El valor maximo es: 7.055279294313739
El promedio es: 4.21875
La desviacion estandart es: 2.8365292943137392
La moda es: 4
La varianza es: 8.0458984375
El valor minimo es :0.22708552171109808
El valor maximo es: 2.210414478288902
El promedio es: 1.21875
La desviacion estandart es: 0.9916644782889019
La moda es: 1
La varianza es: 0.9833984375
0      5
1      3
2      0
3     −8
4      7
5      2
6     −3
7     −6
8      7
9     −2
10    −1
11    −4
12     3
13     0
14    −1
15    −2
16     6
17     1
18     0
19    −7
20     3
21     0
22     0
23    −3
24     5
25     0
26    −3
27    −2
28     3
29     1
30    −1
31    −3
Name: goles_diferencia, dtype: object

In [12]:
df['puntos'].describe()

count    32.000000
mean      4.218750
std       2.881917
min       0.000000
25%       1.750000
50%       4.000000
75%       7.000000
max       9.000000
Name: puntos, dtype: float64

In [13]:
#● ¿Cuál es la probabilidad de elegir un equipo asiático al azar? calculo por puntos ganados
media_gen = df['puntos'].mean()
std_puntos = df['puntos'].std()
min = df['puntos'].min()
max = df['puntos'].max()

escoje_asia_puntos = 0
for rowname, rowserie in df.iterrows():
    if rowserie['continent'] == 'asia' and rowserie['puntos'] > min and rowserie['puntos'] < media_gen:
        print(rowserie['team'])
        escoje_asia_puntos += 1
print(escoje_asia_puntos)

Japan
Iran
South Korea
3

In [14]:
#Arreglo con numpy.logical_and
df['escoje_asia_puntos'] = np.logical_and(df['continent'] == 'asia', df['puntos'] >= min)

In [15]:
#● ¿Cuál es la probabilidad de elegir un equipo asiático al azar?
# Hay una probabilidad del 12% de escojer un equipo asiatico al azar segun sus puntos ganados
print(df['escoje_asia_puntos'].value_counts())
print(df['escoje_asia_puntos'].value_counts('%'))
porcentaje_asia = df['escoje_asia_puntos'].value_counts('%')
print(f'la probabilidad de escojer un equipo asiatico al azar es: {porcentaje_asia[1]*100} %')

False    28
True      4
Name: escoje_asia_puntos, dtype: int64
False    0.875
True     0.125
Name: escoje_asia_puntos, dtype: float64
la probabilidad de escojer un equipo asiatico al azar es: 12.5 %

In [16]:
def prob_continent(continent):
    '''
    prob_continent: Funcion encargada de calcular la probabilidad de que se escoja un continente al azar
    continent: variable que ingresa el continente a la funcion tal como viene del el dataset
    ejemplos textuales de uso para este caso:

    prob_continent('asia')
    prob_continent('africa')
    prob_continent('europe')
    prob_continent('southamerica')
    prob_continent('northamerica')
    '''
    print(f'la probabilidad de elegir un equipo {continent} al azar es de  {len(df[df.continent== continent])/len(df)*100}')

In [17]:
prob_continent('asia')
prob_continent('africa')
prob_continent('europe')
prob_continent('southamerica')
prob_continent('northamerica')

la probabilidad de elegir un equipo asia al azar es de  12.5
la probabilidad de elegir un equipo africa al azar es de  15.625
la probabilidad de elegir un equipo europe al azar es de  40.625
la probabilidad de elegir un equipo southamerica al azar es de  18.75
la probabilidad de elegir un equipo northamerica al azar es de  12.5

In [18]:
#Arreglo con numpy.logical_and
df['escoje_africa_puntos'] = np.logical_and(df['continent'] == 'africa', df['puntos'] >= min)

In [19]:
#● ¿Cuál es la probabilidad de elegir un equipo africano al azar?
print(df['escoje_africa_puntos'].value_counts())
print(df['escoje_africa_puntos'].value_counts('%'))
porcentaje_africa = df['escoje_africa_puntos'].value_counts('%')
print(f'la probabilidad de escojer un equipo africano al azar es: {porcentaje_africa[1]*100} %')

False    27
True      5
Name: escoje_africa_puntos, dtype: int64
False    0.84375
True     0.15625
Name: escoje_africa_puntos, dtype: float64
la probabilidad de escojer un equipo africano al azar es: 15.625 %

In [20]:
df['escoje_africa_puntos'] = np.logical_and(df['continent'] == 'africa', df['puntos'] >= min)

In [21]:
#● ¿Cuál es la probabilidad de elegir un equipo africano al azar?
df['escoje_africa_puntos'].value_counts('%')

False    0.84375
True     0.15625
Name: escoje_africa_puntos, dtype: float64

In [22]:
df_africa = df[df['continent'] == 'africa']
df_asia = df[df['continent'] == 'asia']
df_north = df[df['continent'] == 'northamerica']
df_south = df[df['continent'] == 'southamerica']
df_eur = df[df['continent'] == 'europe']

In [23]:
#  ¿Cuál es la probabilidad de que un país asiático pase a la siguiente ronda?
print('la probabilidad de elegir un equipo asiatico es de ',(len(df_asia[df_asia['clasificado'] == 1])/len(df))*100)

la probabilidad de elegir un equipo asiatico es de  0.0

In [24]:
#  ¿Cuáles son los dos continentes con la mayor probabilidad de clasificar?
print('la probabilidad de elegir un equipo asiatico es de ',(len(df_asia[df_asia['clasificado'] == 1])/len(df[df['clasificado']== 1]))*100)
print('la probabilidad de elegir un equipo africa es de ',(len(df_africa[df_africa['clasificado'] == 1])/len(df[df['clasificado']== 1]))*100)
print('la probabilidad de elegir un equipo europeo es de ',(len(df_eur[df_eur['clasificado'] == 1])/len(df[df['clasificado']== 1]))*100)
print('la probabilidad de elegir un equipo norte es de ',(len(df_north[df_north['clasificado'] == 1])/len(df[df['clasificado']== 1]))*100)
print('la probabilidad de elegir un equipo suramericano es de ',(len(df_south[df_south['clasificado'] == 1])/len(df[df['clasificado']== 1]))*100)

la probabilidad de elegir un equipo asiatico es de  0.0
la probabilidad de elegir un equipo africa es de  12.5
la probabilidad de elegir un equipo europeo es de  37.5
la probabilidad de elegir un equipo norte es de  18.75
la probabilidad de elegir un equipo suramericano es de  31.25

In [25]:
#  ¿Cuáles son los dos continentes con la mayor probabilidad de clasificar?
print('la probabilidad de elegir un equipo asiatico es de ',(len(df_asia[df_asia['clasificado'] == 0])/len(df[df['clasificado']== 0]))*100)
print('la probabilidad de elegir un equipo africa es de ',(len(df_africa[df_africa['clasificado'] == 0])/len(df[df['clasificado']== 0]))*100)
print('la probabilidad de elegir un equipo europeo es de ',(len(df_eur[df_eur['clasificado'] == 0])/len(df[df['clasificado']== 0]))*100)
print('la probabilidad de elegir un equipo norte es de ',(len(df_north[df_north['clasificado'] == 0])/len(df[df['clasificado']== 0]))*100)
print('la probabilidad de elegir un equipo suramericano es de ',(len(df_south[df_south['clasificado'] == 0])/len(df[df['clasificado']== 0]))*100)

la probabilidad de elegir un equipo asiatico es de  25.0
la probabilidad de elegir un equipo africa es de  18.75
la probabilidad de elegir un equipo europeo es de  43.75
la probabilidad de elegir un equipo norte es de  6.25
la probabilidad de elegir un equipo suramericano es de  6.25

In [26]:
df[df['clasificado']== 0]['continent'].value_counts()

europe          7
asia            4
africa          3
southamerica    1
northamerica    1
Name: continent, dtype: int64

In [27]:
df[df['clasificado']== 1]['continent'].value_counts()

europe          6
southamerica    5
northamerica    3
africa          2
Name: continent, dtype: int64

In [28]:
df_asia

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado,escoje_asia_puntos,escoje_africa_puntos
7,Australia,asia,B,4,3,0,0,3,3,9,−6,0,0,True,False
11,Japan,asia,C,4,3,0,1,2,2,6,−4,1,0,True,False
23,Iran,asia,F,4,3,0,1,2,1,4,−3,1,0,True,False
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0,True,False

In [29]:
df['marcador_de_ganador'] = np.where(df['juegos_ganados']>=1,1,0 )

In [30]:
df[df.team== 'Chile']['marcador_de_ganador'].value_counts()

1    1
Name: marcador_de_ganador, dtype: int64

In [31]:
continentes_df = [df_africa.copy(), df_eur.copy(), df_asia.copy(),
df_north.copy(), df_south.copy()]
for d in continentes_df:
    d['ha_ganado'] = np.where(d['juegos_ganados'] > 0, 1, 0) 
    print(d['ha_ganado'].value_counts(normalize = True),'\n')

1    0.6
0    0.4
Name: ha_ganado, dtype: float64

1    0.846154
0    0.153846
Name: ha_ganado, dtype: float64

0    1.0
Name: ha_ganado, dtype: float64

1    0.75
0    0.25
Name: ha_ganado, dtype: float64

1    1.0
Name: ha_ganado, dtype: float64

In [32]:
continentes_df = [df_africa.copy(), df_eur.copy(), df_asia.copy(),
df_north.copy(), df_south.copy()]
for d in continentes_df: 
    print(d['juegos_ganados'].where(lambda x: x == 0,1).value_counts(normalize = True),'\n')

1    0.6
0    0.4
Name: juegos_ganados, dtype: float64

1    0.846154
0    0.153846
Name: juegos_ganados, dtype: float64

0    1.0
Name: juegos_ganados, dtype: float64

1    0.75
0    0.25
Name: juegos_ganados, dtype: float64

1    1.0
Name: juegos_ganados, dtype: float64

In [33]:
df['ha_ganado'] = df['juegos_ganados'].where(lambda x: x == 0, 1) 
df.groupby('continent')['ha_ganado'].value_counts(normalize = True)

continent     ha_ganado
africa        1            0.600000
              0            0.400000
asia          0            1.000000
europe        1            0.846154
              0            0.153846
northamerica  1            0.750000
              0            0.250000
southamerica  1            1.000000
Name: ha_ganado, dtype: float64

In [34]:
continentes_df = [df_africa.copy(), df_eur.copy(), df_asia.copy(),
df_north.copy(), df_south.copy()]
for d in continentes_df: 
    print(d['juegos_ganados'].where(lambda x: x == 0,1).value_counts(normalize = True),'\n')

1    0.6
0    0.4
Name: juegos_ganados, dtype: float64

1    0.846154
0    0.153846
Name: juegos_ganados, dtype: float64

0    1.0
Name: juegos_ganados, dtype: float64

1    0.75
0    0.25
Name: juegos_ganados, dtype: float64

1    1.0
Name: juegos_ganados, dtype: float64

In [35]:
df['ha_perdido'] = df['juegos_perdidos'].where(lambda x: x == 0, 1) 
df.groupby('continent')['ha_perdido'].value_counts(normalize = True)

continent     ha_perdido
africa        1             1.000000
asia          1             1.000000
europe        1             0.692308
              0             0.307692
northamerica  0             0.500000
              1             0.500000
southamerica  0             0.500000
              1             0.500000
Name: ha_perdido, dtype: float64

In [36]:
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado,escoje_asia_puntos,escoje_africa_puntos,marcador_de_ganador,ha_ganado,ha_perdido
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1,False,False,1,1,0
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1,False,False,1,1,0
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0,False,False,1,1,1
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0,False,True,0,0,1
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1,False,False,1,1,0